In [ ]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Getting the data for SPY

data = yf.download("SPY", start='2001-01-01', end='2025-09-11', auto_adjust=False)

data.head()

[*********************100%***********************]  1 of 1 completed

Price       Adj Close       Close       High        Low       Open    Volume
Ticker            SPY         SPY        SPY        SPY        SPY       SPY
Date
2001-01-02  82.467987  128.812500  132.15625  127.56250  132.00000   8737500
2001-01-03  86.429321  135.000000  136.00000  127.65625  128.31250  19431600
2001-01-04  85.498985  133.546875  135.46875  133.00000  134.93750   9219000
2001-01-05  82.708054  129.187500  133.62500  129.18750  133.46875  12911400
2001-01-08  83.348228  130.187500  130.18750  127.68750  129.87500   6625300